{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        reagent {:mvn/version "0.8.1"}
        org.clojars.frozenlock/reagent-modals {:mvn/version "0.2.8"}
        reagent-forms {:mvn/version "0.5.43"}
        cljs-http {:mvn/version "0.1.46"}
        funcool/tubax {:mvn/version "0.2.0"}
        com.bhauman/figwheel-main {:mvn/version "0.2.0"}}
 :paths ["src" "resources" "test" "target"]
 :externs ["externs.js"]
 :aliases {:fig {:extra-deps
                 {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
                 :extra-paths ["target" "test"]}
           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :min   {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}
           :test  {:main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" dep.test-runner]}}}

;;(use 'figwheel-sidecar.repl-api)
